# {{ansible_managed}}

# MariaDB 10.5 repository list - created 2021-02-15 20:40 UTC
# http://downloads.mariadb.org/mariadb/repositories/
deb [arch=amd64,arm64,ppc64el] {{ mariadb_repo_url }} buster main
deb-src {{ mariadb_repo_url }} buster main